<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Lebenslauf</title>
</head>
<body>
    <header>
        <h1>Melnyk Tymur</h1>
        <p>Mettmenriet 3 Sek.A </p>
    </header>
    <nav>
        <ul>
            <li><a href="#about">Über mich</a></li>
            <li><a href="#experience">Schulbildung</a></li>
            <li><a href="#education">Infoanlässe</a></li>
            <li><a href="#skills">Schnupperlehren</a></li>
            <li><a href="#languages">Sprachen</a></li>
            <li><a href="#hobbies">Hobbys</a></li>
            <li><a href="#contact">Referenzen</a></li>
        </ul>
    </nav>
    <section id="about">
        <h2>Über mich</h2>
        <p>Name: Melnyk</p>
        <p>Vorname: Tymur</p>
        <p>Adresse: Länggenstrasse 6, 8184 Bachenbülach</p>
        <p>Telefon: 076 543 90 24</p>
        <p>E-Mail: tymur.melnyk@edu.sekbuelach.ch</p>
        <p>Geburtsdatum: 9. August 2008</p>
        <p>Nationalität: Ukraine</p>
        <p>Eltern: Maksym Melnyk, Inna Ochenash</p>
    </section>
    <section id="experience">
        <h2>Schulbildung</h2>
        <h3>Bülach Mettmenriet</h3>
        <p>2022-heute Sekundarschule Mettmenriet Bülach, Niveau A</p>
        <h3>Privateschule, Ukraine</h3>
        <p>2015-2022</p>
    </section>
    <section id="education">
        <h2>Infoanlässe</h2>
        <p>November 2023 Mediamatiker, Jung von Matt</p>
        <p>Januar Polymechaniker, Schindler AG</p>
        <p>Januar 2024 Multimediaelektroniker, Bosshard HomeLink AG</p>
        <p>Januar 2024 Verschiedene Berufe, ZKB</p>
    </section>
    <section id="skills">
        <h2>Schnupperlehren</h2>
        <p>April 2024 Automobilfachmann, AMAG Kloten</p>
        <p>April 2024 Multimediaelektroniker</p>
        <p>März 2024 Gestalter Werbetechnik EFZ</p>
    </section>
    <section id="languages">
        <h2>Sprachen</h2>
        <ul>
            <li>Deutsch Schulkenntnisse im 2. Jahr, Niveau B1-B2</li>
            <li>Englisch Schulkenntnisse im 9. Jahr</li>
            <li>Ukrainisch (Muttersprache)</li>
            <li>Russisch (Muttersprache)</li>
            <li>Französisch Schulkenntnisse im 2. Jahr</li>
        </ul>
    </section>
    <section id="hobbies">
        <h2>Hobbys</h2>
        <ul>
            <li>Programmierung (Python)</li>
            <li>Handball</li>
            <li>Zeichnen</li>
            <li>Skifahren</li>
        </ul>
    </section>
    <section id="contact">
        <h2>Referenzen</h2>
        <p>Frau Miriam Niederberger</p>
        <p>Klassenlehrperson</p>
        <p>E-Mail: miriam.niederberger@sekbuelach.ch</p>
        <p>Telefon: 079 218 19 92</p>
        <br>
        <p>Frau</p>
        <p>Nadja Pernisch-Loacker</p>
        <p>Klassenlehrperson</p>
        <p>E-Mail: nadja.pernisch@sekbuelach.ch</p>
        <p>Telefon: 078 788 88 63</p>
    </section>
</body>
</html>
